header {
    color: rgb(0, 106, 90);
    -webkit-text-stroke: 2.5px rgb(111, 0, 30);
    font-size: 5em;
    text-align: center;
    font-family: 'Cinzel', serif;
}

body {
    background-image: url("https://image.freepik.com/free-vector/green-grunge-background_1048-2791.jpg");
    align-content: center;
}

button {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 225px;
    display: block;
    margin-top: 25px;
    font-family: 'Cinzel', serif;
    color: rgb(0, 106, 90);
    -webkit-text-stroke: 2px rgb(111, 0, 30);
    background-color: transparent;
    font-size: 1.75em;
    border:rgba(121, 128, 128, 0.411) 1px solid;
    border-radius: 3px;
    background-color: rgba(107, 0, 128, 0.666);
}

button:focus {
    border: rgba(191, 5, 113, 0.571) 3px solid;
}



canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 35px;
    border: none;
    display: block;
    width: 800px;
    background-image: url("./images/backgroundB.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#myCanvas {
    border: 1px black;
}

.instructions {
    text-align: center;
    color: whitesmoke
}




/*https://i.dlpng.com/static/png/6354616_preview.png
    
*/