header {
    color: rgb(40, 82, 3);
    -webkit-text-stroke: 2.5px rgb(139, 11, 11);
    font-size: 5em;
    text-align: center;
    font-family: 'Cinzel', serif;
}

body {
    background-color: rgb(5, 36, 36);
    align-content: center;
}

button {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 225px;
    display: block;
    margin-top: 25px;
    font-family: 'Cinzel', serif;
    color: rgb(40, 82, 3);
    -webkit-text-stroke: 2px rgb(139, 11, 11);
    background-color: transparent;
    font-size: 1.75em;
    border:rgba(121, 128, 128, 0.411) 1px solid;
    border-radius: 3px;
}



canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 35px;
    border: none;
    display: block;
    width: 800px;
    background-image: url("./images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#myCanvas {
    border: 1px black;
}

.instructions {
    text-align: center;
    color: whitesmoke
}




/*https://i.dlpng.com/static/png/6354616_preview.png
    
*/